In [1]:
from random import sample

In [2]:
pop = [1,2,3,4,5,6,7,8,9]

In [3]:
sample(pop,4) #função sample para calcular amostras aleatórias.

[7, 1, 4, 3]

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(pop, columns=["values"])
df

   values
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9

In [7]:
df.sample(n = 4)

   values
4       5
8       9
5       6
0       1

In [8]:
df.sample(frac = 0.33) #Para a amostra ser em proporção

   values
8       9
5       6
2       3

In [9]:
import numpy as np

In [10]:
tamanho_populacao = len(pop)

In [12]:
for i in range(1, tamanho_populacao, 3): #pegamos a 3º ocorrencia iniciando na 2ª observação
    print(i)

1
4
7

In [14]:
amostra_sistematica_exemplo = []
for i in range(1, tamanho_populacao, 3):
    amostra_sistematica_exemplo.append(pop[i])

In [15]:
amostra_sistematica_exemplo

[2, 5, 8]

In [16]:
# Para o pandas, a lógica é a mesma! vamos utilizar os indices para filtar a posição que queremos!
np.arange(1,9,step=3)

array([1, 4, 7])

In [17]:
def amostragem_sistematica(df, inicio = 0, step = 3):
    indexes = np.arange(inicio, df.shape[0], step=step)
    amostra = df.iloc[indexes]
    return amostra

In [18]:
amostragem_sistematica(df, 1, 3)

   values
1       2
4       5
7       8